version: '3.8'
services:
  one_database:
    image: postgres:17-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1
      - POSTGRES_DB=onedb
    ports:
      - "5433:5432"
    volumes:
    - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
  
  auth_service:
    build: 
      context: .
      dockerfile: ./Dockerfile
      args:
        - SERVICE_DIR=auth_service
    ports:
      - "8000:8000"
    depends_on:
      one_database:
        condition: service_healthy
    environment:
      - SERVICE_PORT=8000
      - DATABASE_URL=postgresql://postgres:1@one_database:5432/onedb

  course_service:
    build: 
      context: .
      dockerfile: ./Dockerfile
      args:
        - SERVICE_DIR=course_service
    ports:
      - "8001:8001"
    depends_on:
      one_database:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - SERVICE_PORT=8001
      - DATABASE_URL=postgresql://postgres:1@one_database:5432/onedb
      - REDIS_HOST=redis
      - REDIS_PORT=6379

  kafka:
    image: bitnami/kafka:latest
    ports:
      - "9092:9092"
    profiles: ["full"]
    environment:
      KAFKA_KRAFT_CLUSTER_ID: kraft-cluster
      KAFKA_CFG_NODE_ID: 1
      KAFKA_CFG_PROCESS_ROLES: broker,controller
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      # reduce resource usage
      KAFKA_CFG_LOG_RETENTION_HOURS: 1
      KAFKA_CFG_LOG_SEGMENT_BYTES: 10485760
      KAFKA_CFG_NUM_PARTITIONS: 1
      KAFKA_CFG_LOG_RETENTION_CHECK_INTERVAL_MS: 300000
    # volumes:
    #   - kafka_data:/bitnami/kafka
    healthcheck:
      test: ["CMD-SHELL", "kafka-topics.sh --bootstrap-server localhost:9092 --list || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s

  purchase_service:
    build: 
      context: .
      dockerfile: ./Dockerfile
      args:
        - SERVICE_DIR=purchase_service
    ports:
      - "8003:8003"
    profiles: ["full"]
    depends_on:
      one_database:
        condition: service_healthy
      kafka:
        condition: service_healthy
    environment:
      - SERVICE_PORT=8003
      - DATABASE_URL=postgresql://postgres:1@one_database:5432/onedb
      - KAFKA_BOOTSTRAP=kafka:9092

  entitlement_service:
    build: 
      context: .
      dockerfile: ./Dockerfile
      args:
        - SERVICE_DIR=entitlement_service
    ports:
      - "8004:8004"
    depends_on:
      one_database:
        condition: service_healthy
      # kafka:
      #   condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - SERVICE_PORT=8004
      - DATABASE_URL=postgresql://postgres:1@one_database:5432/onedb
      - KAFKA_BOOTSTRAP=kafka:9092
      - REDIS_HOST=redis
      - REDIS_PORT=6379
  
  react_nginx:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - auth_service
      - course_service
      # - purchase_service
      # - entitlement_service
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /var/lib/letsencrypt:/var/lib/letsencrypt:ro

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: ["redis-server", "--save", "60 1"]
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 15s

volumes:
  redis-data:
    